#LaTeX
*.bbl
*.log
*.blg
*.aux
*.out
*.pdf
*.idx
*.toc
*.glg
*.glo
*.gls
*.ist
*.ilg
*.ind
*.synctex.gz
/UAI/

/ocaml-4.01.0/

/Thesis.synctex.gz(busy)

/.texpadtmp/

Thesis.run.xml

/text/.texpadtmp/

/Code/.idea/workspace.xml

/Compiler/.idea

/Compiler/Compiler.iml

/Compiler/out
